* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Regular;
    src: url(./assets/Rubik-Regular.ttf);
}

@font-face {
    font-family: Medium;
    src: url(./assets/Rubik-Medium.ttf);
}

nav {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: Regular;
}

.svg1 {
    margin-top: 2rem;
}

.svg2 {
    display: none;
}

.foot1 {
    display: none;
}

.icon1 {
    display: none;
    align-items: center;
    cursor: pointer;
}

nav .foot {
    display: none;
}

ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    justify-content: space-around;
    margin: 0 1rem;
    color: black;
}

a {
    text-decoration: none;
}

.pic-one {
    display: none !important;
}

.button_1 {
    width: 5rem;
    height: 2rem;
    font-size: 18px;
    font-family: Regular;
    background-color: hsl(0, 94%, 66%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid hsl(0, 94%, 66%);
}

.hero {
    display: flex;
    align-items: center;
    margin: auto 12rem;
}

.container1-hero,
.container2-hero-main {
    font-size: 18px;
    font-family: Regular;
}

.container1-hero h2,
.container2-hero-main h3 {
    font-size: 40px;
    color: hsl(229, 31%, 21%);
    font-family: Regular;
}

.container1-hero p,
.container2-hero-main p {
    font-size: 18px;
    color: hsl(229, 8%, 60%);
    font-family: Regular;
}

.chrome,
.fox,
.container2-hero-main button {
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: Regular;
    color: white;
    margin-top: 20px;

}

.chrome,
.container2-hero-main button {
    background-color: hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
}

.fox {
    background-color: hsl(229, 8%, 60%);
    border: 1px solid hsl(229, 8%, 60%);
}

.container2-hero {
    width: 100%;
}


.shape,
.sphere {
    border: 1px solid hsl(231, 69%, 60%);
    background-color: hsl(231, 69%, 60%);
    border-radius: 20rem 0 0 20rem;
    width: 30rem;
    height: 17rem;
    z-index: -1;
    position: absolute;
    right: 0rem;
    top: 8rem;
}

.container2-btn {
    position: relative;
}

.svg3 {
    display: none;
}

.svg2 {
    display: none;
}

.container2-hero-main {
    width: 25rem;
    margin: auto;
}

.container2-hero img {
    width: 100%;
}

.headings {
    display: flex;
    margin: auto;
    width: fit-content;
}

.headings p {
    width: 200px;
    font-family: Regular;
    font-size: 18px;
    height: 20px;
    cursor: pointer;
    border: 0px solid transparent;
    justify-content: space-around;
    color: hsl(229, 8%, 60%);
    background-color: transparent;
}

.headings p:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid hsl(229, 8%, 60%);
    margin-top: 1px;
}

.boxing {
    width: 900px;
    height: 400px;
    justify-content: space-around;
    position: relative;
    left: 10rem;
    display: none;
    align-items: center;
    margin: auto 12rem;
}


.boxing.active {
    display: flex;
    align-items: center;
    margin: auto 12rem;
}

.img-second {
    width: 20rem;
}

.sphere {
    border-radius: 0rem 20rem 20rem 0;
    width: 37rem;
    height: 15rem;
    right: 5rem;
    top: 3rem;
}

.field {
    margin: 5rem auto;
    width: 35rem;
    text-align: center;
}


.field h3 {
    font-size: 35px;
    font-family: Regular;
}

.field p {
    font-size: 18px;
    font-family: Regular;
    color: hsl(229, 8%, 60%);
}

.cards {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}

.card-1,
.card-2,
.card-3 {
    height: 20rem;
    width: 15rem;
    border: 1px solid transparent;
    box-shadow: 10px 10px 10px 10px lightgrey;
    border-radius: 5px;
    text-align: center;
    margin: 0 2rem;
    padding: 10px;
    position: relative;
}

.image {
    padding-top: 20px;
}

.head {
    font-size: 20px;
    font-family: Regular;
    line-height: 30px;
}

.version {
    color: hsl(229, 8%, 60%);
    font-family: Regular;
    font-size: 18px;
    line-height: 30px;
}

.dot {
    height: 3px;
    position: absolute;
    top: 15rem;
    left: 1rem;
}

.install {
    width: 14rem;
    height: 3rem;
    background-color: hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
    border-radius: 5px;
    color: white;
    font-family: Regular;
    font-size: 15px;
    position: absolute;
    left: 0.5rem;
    top: 16rem;
}

.card-2 {
    top: 1rem;
}

.card-3 {
    top: 2rem;
}

.FAQ {
    font-family: Regular;
    max-width: 700px;
    margin: 0 auto;
}

.FAQ .FAQ-container {
    box-shadow: 3px -1px 5px -1px lightgray;
}

.FAQ-container h3 {
    padding: 10px 32px;
    font-size: 25px;
    cursor: pointer;
}

.FAQ-container .faq-page {
    display: flex;
    background-color: white;
    align-items: center;
    color: black;
    position: relative;
    transition: 1000ms;
}

.FAQ-container img {
    position: absolute;
    right: 0;
    padding: 0 32px;
    cursor: pointer;
    transform: translate(-8px);
    opacity: 0;
    transition: all 1500ms;
}

.FAQ-container img.active {
    opacity: 1;
    transform: translateY(0);
}

.FAQ-answer {
    padding: 0 32px;
    color: hsl(229, 8%, 60%);
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    font-family: Regular;
}


.FAQ-container .FAQ-answer.active {
    max-height: 600px;
}


.info {
    background-color: hsl(231, 69%, 60%);
    border-radius: 5px;
    border: 1px solid transparent;
    width: 10rem;
    height: 3rem;
    color: white;
    font-size: 18px;
    font-family: Regular;
    margin: 2rem auto;
    position: relative;
    left: 35rem;
}

.email_container {
    background-color: hsl(231, 69%, 60%);
    height: 18rem;
    align-items: center;
    margin: auto;
    text-align: center;
    color: white;
}

.email_container h4 {
    font-size: 13px;
    line-height: 80px;
    font-family: Regular;
    /* margin-top: 3rem; */
    font-weight: 200;
}

.email_container h3 {
    font-size: 30px;
    font-family: Regular;
    width: 25rem;
    margin: 1rem auto;
}

form {
    display: inline;
}

form input {
    border: 1px solid transparent;
    border-radius: 7px;
    width: 15rem;
    height: 3rem;
    font-family: Regular;
    font-size: 15px;
}

input::placeholder {
    padding-left: 15px;
    font-family: Regular;
    font-size: 15px;
}

.contact {
    border: 1px solid transparent;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    background-color: hsl(0, 94%, 66%);
    color: white;
    font-family: Regular;
    font-size: 15px;
}

.Footer {
    background-color: hsl(229, 31%, 21%);
    height: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: Regular;
    color: black;
}

.list {
    display: flex;
    margin-left: 10rem;
}

.Footer a {
    color: white;
}

.picx {
    display: flex;
}


@media only screen and (max-width: 420px) {
    nav {
        z-index: 1000;
        padding-top: 1rem;
        display: block;
        left: 0;
        /* background: hsl(229, 31%, 21%); */
        position: absolute;
        width: 100%;
    }


    .pic {
        display: inline-flex;
        margin-top: 50vh;
        position: relative;
        bottom: 5rem;
    }

    .pic li {
        border-top: none !important;
        border-bottom: none !important;
    }

    .svg1 {
        display: block;
        margin-top: 0rem;
        margin-left: 10px;
    }

    .svg2 {
        display: none !important;
    }

    .svg2 {
        display: block;
    }

    .logo {
        display: flex;
        margin-bottom: 1rem;
    }

    .button_1 {
        width: 100%;
        height: 3rem;
        padding: 8px 10px;
        border: 2px solid white;
        background-color: transparent;
    }

    nav ul {
        position: absolute;
        display: block;
        text-align: center;
        height: 100vh;
        background-color: hsl(229, 31%, 21%);
        width: 100%;
    }

    nav ul li {
        font-size: 23px;
        font-weight: lighter;
    }

    nav ul li a {
        color: white;
    }

    nav .menu {
        display: none;
    }

    nav .menu.active {
        display: block;
    }

    nav li {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }

    .icon1 {
        display: block;
        position: absolute;
        right: 10px;
        padding: 0 10px;
    }

    .icon2 {
        display: none;
        position: absolute;
        right: 10px;
        padding: 0 10px;
    }

    .icon2 .active {
        display: block;
    }

    .foot1 {
        display: block;
    }

    .hero {
        display: block !important;
        margin: auto !important;
        height: 800px;
    }

    .container2-hero {
        overflow: hidden !important;
        width: 100% !important;
    }

    .container1-hero,
    .container2-hero-main {
        font-size: 15px !important;
        position: relative;
    }

    .container1-hero {
        top: 20rem;
        width: 90vw;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        padding-top: 3rem;
    }

    .container2-hero img {
        position: absolute !important;
        top: 10vh !important;
        width: 100% !important;
    }

    .container1-hero h2,
    .container2-hero-main h3 {
        font-size: 35px !important;
    }

    .container2-btn {
        position: relative !important;
    }

    .container2-hero-main {
        justify-content: center !important;
        text-align: center !important;
    }

    .container2-hero-main h2 {
        width: 80vw !important;
        font-size: 25px !important;
        margin-top: 4rem !important;
    }

    .shape {
        width: 82vw !important;
        height: 13rem !important;
        left: 12% !important;
        top: 15% !important;
    }

    .headings {
        display: block !important;
        margin: auto !important;
        width: 50vw !important;
        margin-bottom: 2rem !important;
    }

    .headings p {
        text-align: center !important;
        padding: 1rem 0 !important;
    }


    .boxing {
        margin: 1rem auto 2rem auto !important;
        display: block !important;
        width: 100vw !important;
        height: 550px !important;
        justify-content: left !important;
        position: inherit !important;
        align-items: center !important;
        text-align: center !important;
        display: none !important;
        overflow: hidden !important;
    }

    .boxing.active {
        display: block !important;
        margin: auto !important;
    }

    .img-second {
        width: 19rem !important;
    }

    .sphere {
        width: 19rem !important;
        height: 13rem !important;
        left: 0vw !important;
        top: 2rem !important;
    }

    .box-1 {
        overflow: hidden !important;
    }

    .field {
        margin: 5rem auto !important;
        width: 90vw !important;
    }


    .field h3 {
        font-size: 30px !important;
    }



    .cards {
        display: block !important;
        margin: auto !important;
    }

    .card-1,
    .card-2,
    .card-3 {
        margin: 1rem auto !important;
    }

    .info {
        margin: 2rem auto !important;
        left: 30vw !important;

    }

    .FAQ {
        max-width: 80vw !important;
    }

    .FAQ-container h3 {
        font-size: 18px !important;
    }

    .email_container {
        height: 20rem !important;
        overflow: hidden !important;
    }

    .email_container h3 {
        font-size: 25px !important;
        width: 20rem !important;
        margin: auto !important;
    }

    form input {
        width: 18rem !important;
        margin-top: 1rem !important;
    }

    .contact {
        width: 18rem !important;
        margin-top: 1rem !important;
        margin-bottom: 7rem !important;
    }

    .Footer {
        height: 12rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: block;
    }

    .Footer ul {
        display: block;
    }

    .navbar {
        display: block;
    }

    .Footer .list {
        display: block;
    }

    .picx {
        justify-content: center;
        padding-top: 2rem;
    }

}

@media (min-width: 421px) and (max-width: 1024px) {
    .boxing {
        margin: 1rem auto 2rem auto !important;
        display: flex !important;
        width: 90vw !important;
        height: 300px !important;
        position: inherit !important;
    }


    .hero {
        margin: 1rem auto 2rem auto !important;
        display: flex !important;
        height: 300px !important;
        position: inherit !important;
    }

    .boxing {
        display: none !important;
    }

    .boxing.active {
        display: flex !important;
        margin: auto !important;
    }

    .container2-btn {
        position: relative !important;
    }

    .container1-hero,
    .container2-hero-main {
        padding-left: 2rem !important;
        width: 100vw !important;
    }

    .hero {
        width: 100vw !important;
    }

    .container2-hero img,
    .img-second {
        width: 19rem !important;
    }

    .container1-hero h2 {
        width: 20rem !important;
        font-size: 35px !important;
    }

    .shape {
        width: 35vw !important;
        height: 13rem !important;
        left: 60vw !important;
        top: 10rem !important;
    }

    .sphere {
        width: 38vw !important;
        height: 13rem !important;
        left: -4vw !important;
        top: 2rem !important;
    }

    .field {
        margin: 5rem auto !important;
        width: 90vw !important;
    }


    .field h3 {
        font-size: 30px !important;
    }



    .cards {
        display: block !important;
        margin: auto !important;
    }

    .card-1,
    .card-2,
    .card-3 {
        margin: 1rem auto !important;
    }

    .info {
        margin: 2rem auto !important;
        left: 37vw !important;
    }

    .FAQ {
        max-width: 80vw !important;
    }

    .FAQ-container h3 {
        font-size: 18px !important;
    }

    .email_container {
        height: 20rem !important;
    }

    .email_container h3 {
        font-size: 25px !important;
        width: 20rem !important;
        margin: auto !important;
    }

    form input {
        width: 18rem !important;
        margin-top: 1rem !important;
    }

    .log {
        position: relative !important;
        top: -28px !important;
        left: -16rem !important;
    }

}